.daysWithMeBlock{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  gap: 50px;
  h2{
    color: #9e39f1;
    font-size: 52px !important;
  }
  .counterBlock{
    display: flex;
    margin-top: 35px;
    align-items: center;
    width: 100%;
    justify-content: center;
    gap: 25px;
    .counterItems{
      background-color: #fff;
      width: 100px;
      height: 100px;
      border-radius: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      span{
        font-size: 24px;
        color: #9e39f1;
      }
      p{
        margin: 0;
        font-size: 12px;
      }
    }
    .dots{
      font-size: 24px !important;
      color: #9e39f1;
      animation: bounceDots 0.8s infinite ease-in-out,
      pulseDots 1s infinite ease-in-out;
    }
  }
  a{
    padding: 10px 30px;
    background: #9e39f1;
    border-radius: 20px;
    color: #fff;
    font-size: 20px;
    transition: color 0.2s;
    &:hover{
      background: #fff;
      color: #9e39f1;
    }
  }
}

@media screen  and (max-width: 730px){
  .daysWithMeBlock{
    h2{
      font-size: 44px !important;
    }
    .counterBlock{
      margin-top: 35px;
      gap: 25px;
      .counterItems{
        width: 85px;
        height: 85px;
        span{
          font-size: 18px;
        }
        p{
          font-size: 10px;
        }
      }

    }
    a{
      padding: 8px 20px;
      border-radius: 14px;
      font-size: 16px;
    }
  }
}

@media screen  and (max-width: 660px){
  .daysWithMeBlock{
    .counterBlock{
      margin-top: 35px;
      gap: 25px;
      .counterItems{
        width: 60px;
        height: 60px;
        span{
          font-size: 16px;
        }
        p{
          font-size: 8px;
        }
      }

    }
  }
}

@media screen  and (max-width: 548px){
  .daysWithMeBlock{
    h2{
      font-size: 36px !important;
    }
    .counterBlock{
      margin-top: 35px;
      gap: 25px;
      .counterItems{
        width: 50px;
        height: 50px;
        span{
          font-size: 14px;
        }
        p{
          font-size: 6px;
        }
      }

    }
    a{
      padding: 10px 20px;
      border-radius: 10px;
      font-size: 12px;
    }
  }
}

@keyframes pulseDots {
  0%, 100% { transform: scale(1); opacity: 0; }
  50% { transform: scale(1.3); opacity: 1; }
}

@keyframes bounceDots {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-5px); }
}