.welcomeWrapper{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background: #f8b3b3;
  overflow: hidden;
  .text{
    display: flex;
    gap: 55px;
  }
  h1,h2{
    color: #fff;
    font-size: 120px;
    font-weight: bold;
    font-family: "Playwrite NZ Basic", cursive;
  }

  a{
    padding: 20px 60px;
    background: #f84949;
    border-radius: 20px;
    color: #fff;
    font-size: 20px;
    transition: .3s;
    &:hover{
      background: #fff;
      color: #f84949;
    }
  }
}


.homeWrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  .homeBlock{
    background: #fff;
    width: 60%;
    height: 75vh;
    text-align: center;
    border-radius: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    background-image: url("../../src/assets/images/love.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    .willBeBlock{
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      padding-top: 5%;
      align-items: center;
    }
    h1{
      font-size: 52px;
      color: #fff;
      padding: 0;
      margin-bottom: 0;
    }
    h2{
      font-size: 42px;
      margin: 0;
    }
    h3.valentineText{
      font-size: 28px;
      color: #f84949;
    }
    .buttonsBlock{
      display: flex;
      flex-direction: column;
      gap: 50px;
      justify-content: center;
      align-items: center;
      animation: fade 2s linear;
      position: relative;
      width: 100%;
      height: 100%;
      button{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 150px;
        height: 50px;
        color: #fff;
        cursor: pointer;
        position: absolute;
        bottom: 150px;
      }
      .yes{
        background: #f84949;
        left: 0;
      }
      .no{
        right: 0;
      }
    }
  }
}

//Valentine
.valentine{
  position: relative;
  width: 100%;
  height: 100%;
  h1{
    color: #2e2e2e !important;
  }

  img{
    max-width: 300px;
    max-height: 200px;
    cursor: pointer;
  }
  .arrow{
    font-size: 28px;
    color: #9e39f1;
    position: absolute;
    right: 50%;
    transform: translateX(200%);
  }
  .giftBlock{
    display: flex;
    justify-content: center;
    align-items: center;
  }

}


  .giftAudio{
    display: block;
    position: absolute;

  }

  @keyframes fade {
    from {
      opacity: 0;
    }
    to{
      opacity: 1;
    }
  }





@media screen and (max-width: 1500px){
  .welcomeWrapper{
    .text{
      display: flex;
      gap: 55px;
    }
    h1,h2{
      font-size: 80px;
    }

    a{
      padding: 15px 50px;
      font-size: 18px;
    }
  }
  .homeWrapper{
    .homeBlock{
      width: 60%;
      border-radius: 40px;
      h1{
        font-size: 48px;
        color: #fff;
      }
      h2{
        font-size: 28px;

      }
      h3{
        font-size: 22px;
      }
      .buttonsBlock{
        gap: 50px;
        button{
          width: 150px;
          height: 50px;
          bottom: 150px;
        }
      }
    }
  }


  //Valentine
  .valentine{
    img{
      max-width: 180px;
    }
    .arrow{
      font-size: 22px;
    }
  }
}

@media screen and (max-width: 1000px){
  .welcomeWrapper{
    h1{
      font-size: 50px;
    }

    a{
      padding: 10px 30px;
      font-size: 14px;
      border-radius: 14px;
    }
  }

  .homeWrapper{
    .homeBlock{
      width: 70%;
      border-radius: 40px;
    }
  }
}

@media screen and (max-width: 756px){
  .welcomeWrapper{
    .text{
      gap: 20px;
    }
    h1{
      font-size: 36px;
    }

    a{
      padding: 8px 20px;
      font-size: 12px;
      border-radius: 8px;
    }
  }
  .homeWrapper{
    .homeBlock{
      width: 80%;
      border-radius: 25px;
      .willBeBlock{
        padding-top: 20%;
      }
      .buttonsBlock{
        button{
          width: 100px;
          height: 45px;
          bottom: 150px;
        }
        .yes{
          left: 20%;
        }
        .no{
          right: 20%;
        }
      }
    }
    .valentine{
      h1{
        font-size: 44px;
      }
      h2{
        font-size: 26px;
        margin-top: 25px;
      }
      .valentineText{
        font-size: 18px !important;
      }
      h5{
        font-size: 12px;
      }
      h3{
        font-size: 18px;
      }
    }
  }
}

@media screen and (max-width: 456px){
  .welcomeWrapper{
    h1{
      font-size: 30px;
    }

    a{
      padding: 8px 15px;
      font-size: 10px;
      border-radius: 6px;
    }
  }

  .homeWrapper{
    .homeBlock{
      border-radius: 20px;
      .willBeBlock{
        padding-top: 50%;
        h1{
          font-size: 36px;
        }
        h2{
          font-size: 20px;
        }
        .buttonsBlock{
          button{
            width: 75px;
            height: 35px;
            bottom: 150px;
          }
          .yes{
            left: 10%;
          }
          .no{
            right: 10%;
          }
        }
      }
      .valentine{
        img{
          max-width: 170px;
        }
        h1{
          font-size: 38px;
        }
        h2{
          font-size: 20px;
          margin-top: 30px;
        }
        .valentineText{
          font-size: 16px !important;
        }
        h3{
          font-size: 16px;
        }
      }
    }
  }
}

@media screen and (max-width: 420px){

  .homeWrapper{
    .homeBlock{
      border-radius: 15px;
      width: 90%;
      .valentine{
        h1{
          font-size: 30px;
        }
        h2{
          margin-top: 25px;
        }
      }
    }
  }
}

